@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas {
    pointer-events: none;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100vw !important;
    height: 100vh;
  }

.results-container{
  max-width: 100% !important;
}

  .mm-container {
    position: relative;
    width: 100vw;
    height: 75%;
    display: grid;
  }

  .family-container {
    position: relative;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .home-section{
    @apply bg-none md:bg-cover md:bg-bottom  p-5 md:px-0 mb-16 md:mb-0 h-fit grid grid-cols-2 mt-6 md:flex md:flex-col md:justify-center md:items-center md:w-screen ;
    
    @media (max-width: 768px) {
      background-image: none !important;
    }
  }